Experiment-7 (T-tests on iris dataset)

In [ ]:
#Independent t-test
import pandas as pd

df= pd.read_csv("/content/Iris_Data.csv")

df.groupby("species")['sepal_width'].describe()

                 count   mean       std  min    25%  50%    75%  max
species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

Ha = there is significant difference in the sepal width between the floral species Iris-setosa and Iris-versicolor

Ho = there is no significant difference in the sepal width between the floral species Iris-setosa and Iris-versicolor

In [ ]:
setosa = df[(df['species'] == 'Iris-setosa')]
versicolor = df[(df['species'] == 'Iris-versicolor')]

In [ ]:
from scipy import stats
import matplotlib.pyplot as plt

In [ ]:
stats.levene(setosa['sepal_width'], versicolor['sepal_width'])

LeveneResult(statistic=0.6635459332943233, pvalue=0.41728596812962016)

In [ ]:
stats.ttest_ind(setosa['sepal_width'], versicolor['sepal_width'])

Ttest_indResult(statistic=9.282772555558111, pvalue=4.362239016010214e-15)

The Independent t-test results are significant! Therefore, one can reject the null hypothesis in support of the alternative.

In [ ]:
# One sample t-test
import numpy as np
sepal_length = df['sepal_length'].to_numpy()
sepal_len_mean = np.mean(sepal_length)
print(sepal_len_mean)

5.843333333333334

In [ ]:

## Lets take sample

sample_size=10
sepal_len_sample = np.random.choice(sepal_length, sample_size)

In [ ]:
sepal_len_sample

array([4.4, 4.8, 5. , 6.4, 5.4, 7.7, 5.1, 5. , 4.9, 6.5])

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest,p_value=ttest_1samp(sepal_len_sample,5.84)

In [ ]:

print(p_value)

0.3473801365244752

In [ ]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [ ]:
# Two sample t-test

Ho = sepal lengths for sample 1 and sample 2 were not drawn from same population data.

Ha = sepal lengths for sample 1 and sample 2 were drawn from same population data.

In [ ]:
import numpy as np
from scipy import stats 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn import datasets
iris = datasets.load_iris()
sep_length = iris.data[:,0]
a_1, a_2 = train_test_split(sep_length, test_size=0.4, random_state=0)
b_1, b_2 = train_test_split(sep_length, test_size=0.4, random_state=1)

In [ ]:
mu1 = np.mean(a_1)
 
mu2 = np.mean(b_1)
 
np.std(a_1)
 
np.std(b_1)

0.7912242428472069

In [ ]:
stats.ttest_ind(a_1, b_1, equal_var = False)

Ttest_indResult(statistic=0.830066093774641, pvalue=0.4076270841218669)

In [ ]:
stats.ttest_ind(b_1, a_1, equal_var=False)

Ttest_indResult(statistic=-0.830066093774641, pvalue=0.4076270841218669)

In [ ]:
stats.ttest_ind(a_1, b_1, equal_var=True)

Ttest_indResult(statistic=0.830066093774641, pvalue=0.4076132965045395)

We observe that the using “true” or “false” for the “equal-var” parameter does not change the t-test results that much. We also observe that interchanging the order of the sample arrays a_1 and b_1 yields a negative t-test value, but does not change the magnitude of the t-test value, as expected. Since the calculated p-value is way larger than the threshold value of 0.05, we can reject the null hypothesis that the difference between the means of sample 1 and sample 2 are significant. This shows that the sepal lengths for sample 1 and sample 2 were drawn from same population data.

In [ ]:
# Paired t-test

Comparing two classifiers DT and Logistic Regression

Ho = The accuracies of A and B are drawn from the same distribution. Hence, the difference in the accuracies has an expected value equal to 0 (E[diff]=0). Basically, there is no difference between the two models.

Ha = The accuracies are drawn from two different distributions, E[diff] ≠ 0. Basically, the models are actually different, so one is better than the other.

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from mlxtend.data import iris_data
from sklearn.model_selection import train_test_split


x, y = iris_data()
lr = LogisticRegression(max_iter=150)
dt = DecisionTreeClassifier(max_depth = 1)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
lr.fit(x_train, y_train)
dt.fit(x_train, y_train)

s1 = lr.score(x_test, y_test)
s2 = dt.score(x_test, y_test)

print('Model A accuracy: %.2f%%' % (s1*100))
print('Model B accuracy: %.2f%%' % (s2*100))

Model A accuracy: 93.33%
Model B accuracy: 64.44%

In [ ]:
from mlxtend.evaluate import paired_ttest_5x2cv

t, p = paired_ttest_5x2cv(estimator1=lr,estimator2=dt,X=x, y=y)
alpha = 0.05

print('t statistic: %.3f' % t)
print('aplha ', alpha)
print('p value: %.3f' % p)

if p > alpha:
  print("Fail to reject null hypotesis")
else:
  print("Reject null hypothesis")

t statistic: 11.939
aplha  0.05
p value: 0.000
Reject null hypothesis